GOOGLE_API_KEY=<your-google-api-key>
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=<your-langsmith-api-key>
LANGSMITH_PROJECT="RiskAnalysis"
OLLAMA_MODEL=<your-ollama-model>
ANTHROPIC_API_KEY=<your-anthropic-api-key>
OLLAMA_BASE_URL=http://localhost:11434