langgraph
langchain
langchain-huggingface==1.2.1
langchain-core
langchain-ollama
langchain-community
langchain-chroma
langgraph-checkpoint-redis
redis
asyncio
# Tools
ddgs==9.11.1
yfinance==0.2.54
pydantic==2.10.6
python-dotenv
chromadb
sentence-transformers
streamlit
plotly
pypdf
rank_bm25
requests
